.pokebox {
  display: flex;
  justify-content: space-between;
  width: clamp(32%, 35%, 38%);
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.pokedata {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
